* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#hero {
    display: flex;
    flex-direction: column;
}

#hero, #footer {
    background-color: #1F2937;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

#header {
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    color: #E5E7EB;
    padding: 16px 0;
}

#header h2 {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

#hero-section {
    display: flex;
    justify-content: space-around;
    padding: 100px 0;
}

#main-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

#main-text h1 {
    font-size: 48px;    
    font-weight: 900;
    color: #F9FAF8;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 10px 25px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}


#placeholder {
    width: 400px;
    height: 200px;
    background-color: #4B5563; 
    display: flex;
    justify-content: center;
    align-items: center;
}