* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #F9FAF8;
}


/* 
#F9FAF8;
#E5E7EB;
#3882F6;
*/


body {
    font-family: "Roboto", sans-serif;
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
}

#main {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}

#header {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    font-size: 18px;
    color: #E5E7EB;
}

#main, #footer {
    background-color: #1F2937;
}


ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 15px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

#hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 40px;
    gap: 25px;
} 

#main-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    gap: 15px;
}

#main-text h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

#signup-btn {
    background-color: #3882F6;
    font-size: 18px;
    padding: 10px 22px;
    border: none;
    border-radius: 6px;
}

#container {
    flex: 2;
}

#placeholder {
    background-color: #A9A9A9;
    width: 400px;
    height: 200px;
}

#quote {
    background-color: #4B5563; 
}

#footer p {
    font-size: 18px;
    padding: 36px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}