* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #F9FAF8;
}

body {
    font-family: "Roboto", sans-serif;
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
}

#main {
    display: flex;
    flex-direction: column;
}

#main, #footer {
    background-color: #1F2937;
}

#header {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 15px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

#hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 9rem 0;
} 

#main-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 500px;
    gap: 10px;
}

#main-text h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.signup-btn {
    background-color: #3882F6;
    font-size: 18px;
    padding: 10px 22px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#placeholder {
    background-color: #A9A9A9;
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 36px 0;
    gap: 36px;
    font-size: 18px;
}

#information h2 {
    color: #1F2937;
    font-weight: 900;
    font-size: 36px;
}

.container {
    display: flex;
    gap: 48px;
    margin-bottom: 100px;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 7px;
    text-align: center;
} 

.box {
    width: 170px;
    height: 170px;
    border-radius: 6px;
    border: 2px solid #3882F6;
}

.text {
    color: black;
    width: 170px;
}

#quote {
    background-color: #E5E7EB;
}

#quote-container {
    width: 50%;
    padding: 125px 0;
    margin: auto;
}

#quote-text {
    color: #1F2937;
    font-weight: 300;
    font-size: 36px;
    margin-bottom: 20px;
}

#author {
    color: #1F2937;
    font-weight: 900;
    font-size: 18px;
    text-align: end;
}

#cta {
    padding: 125px 0;
}

#cta-box {
    background-color: #3882F6;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    padding: 75px 0;
    margin: 0 auto;
}

.cta {
    border: 3px solid #fff;
    padding: 10px 36px; 
}

/* 
#F9FAF8;
#E5E7EB;
#3882F6;
*/

#footer p {
    font-size: 18px;
    padding: 36px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}